{{> head }}
    
    {{> navbar }}

    <main>
      <div class="container">
        <h1>Pasar Industri Pemrograman di Indonesia dinilai masih menjanjikan</h1>
        <p>12 Maret 2024 22:23 WIB | Amien Said</p>
        <img src="./assets/img/temu.jpg" alt="coding">
        <p>REPUBLIKA.CO.ID, JAKARTA -- Ketimpangan sumber daya manusia (SDM) di sektor digital masih menjadi isu yang belum terpecahkan. Berdasarkan penelitian ManpowerGroup, ketimpangan SDM global, termasuk Indonesia, meningkat dua kali lipat dalam satu dekade terakhir. Khusus di sektor teknologi yang berkembang pesat, menurut Kemendikbudristek, Indonesia kekurangan sembilan juta pekerja teknologi hingga tahun 2030. Hal itu berarti Indonesia memerlukan sekitar 600 ribu SDM digital yang memasuki pasar setiap tahunnya.</p>
      </div>
    </main>
    
{{> foot }}