{{> head }}

    <section style="height: 100vh;" class="w-100 py-5 bg-secondary-subtle">
      <div class="container">
        <div class="col-md-6 offset-3 p-5">
          <h1>LOGIN</h1>
          {{#if message}}
            <p class="text-danger">{{ message }}</p>
          {{/if}}
          <form id="login-form" method="post" action="/user/login" class="mb-5">
              
            <div class="mb-3">
              <label for="email" class="form-label fw-">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label fw-">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <p>New user? please <a href="/register">Register here</a> first</p>
        </div>
      </div>
    </section>

{{> foot }}