{{> head }}

    <section style="height: 100vh;" class="w-100 py-5 bg-secondary-subtle">
      <div class="container">
        <div class="col-md-6 offset-3 p-5">
          <h1>REGISTER</h1>

          <form id="register-form" method="post" action="/user" class="mb-5">
              
            <div class="mb-3">
              <label for="name" class="form-label fw-">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fw-">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label fw-">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <p>Already registered? please <a href="/login">Login here</a></p>
        </div>
      </div>
    </section>

{{> foot }}